asn1crypto==0.24.0
backcall==0.1.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
cryptography>=3.3.2
cycler==0.10.0
decorator==4.4.0
idna==2.8
imageio==2.5.0
ipython==7.7.0
ipython-genutils==0.2.0
jedi==0.15.0
joblib
kiwisolver==1.1.0
matplotlib
# mkl-fft==1.0.12
# mkl-random==1.0.2
# mkl-service==2.0.2
numpy
olefile==0.46
pandas
parso==0.5.1
patsy==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow>=6.2.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
pycparser==2.19
Pygments>=2.7.4
pyOpenSSL
pyparsing==2.4.0
PySocks==1.7.0
python-dateutil
pytz
pyzmq
requests==2.22.0
scikit-learn
scipy
seaborn==0.9.0
six==1.12.0
statsmodels==0.10.1
torch
torchfile
torchvision
tornado==6.0.3
tqdm==4.33.0
traitlets==4.3.2
urllib3>=1.25.8
visdom==0.1.8.8
wcwidth==0.1.7
websocket-client==0.56.0
